@model IEnumerable<BookServiceModel>

@{
    ViewBag.Title = "Approve";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<h4>Books to approve</h4>

@if (!Model.Any())
{
    <h2 class="text-center">You have no added books to approve!!</h2>
}

<div class="row">
    @foreach (var book in Model)
    {
        @await Html.PartialAsync("~/Areas/Admin/Views/Shared/_ApproveBookPartial.cshtml", book)
    }
</div>
