@{
    ViewData["Title"] = "Dashboard";
}
<div class="row">
    <div class="col-md-5">
        <div class="card-body">
            <h5 class="card-title">For Review</h5>
            <p class="card-text">please check book for review.</p>
            <a asp-action="ForReview" class="btn btn-primary">For review</a>
        </div>
    </div>
</div>